body {
  background-image: url("../img/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

header {
  display: flex;
  justify-content: space-between; }
  header .conteinerLogo #logoBeirut {
    width: 270px;
    height: 180px; }
  header .conteinerNav {
    padding-top: 40px; }
    header .conteinerNav li {
      display: inline;
      padding-left: 20px;
      padding-right: 20px; }
      header .conteinerNav li a {
        color: #cee0d4;
        font-size: 32px;
        font-family: "Merienda", cursive;
        text-decoration: none; }
      header .conteinerNav li a:hover {
        color: rgba(68, 158, 95, 0.89); }

footer {
  background-image: linear-gradient(#750505, #bd5757, #3b0202);
  width: 100%; }
  footer .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .container-footer .textoPiePagina {
      color: #cee0d4;
      font-size: 20px;
      font-family: "Merienda", cursive;
      display: flex;
      justify-content: flex-start;
      align-content: center; }
      footer .container-footer .textoPiePagina #bandera {
        width: 80px;
        height: 50px; }
    footer .container-footer .logosPiePagina {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      footer .container-footer .logosPiePagina #logoRedes {
        width: 30px;
        height: 35px; }

.cuerpo .textoMain {
  color: #cee0d4;
  font-size: 70px;
  font-family: "Merienda", cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 100px; }

.cuerpo .whatsapp {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding-top: 60px;
  padding-bottom: 50px; }
  .cuerpo .whatsapp #logoWhatsapp {
    height: 50px;
    width: 50px; }

.cuerpo .tituloHistoria {
  color: #cee0d4;
  font-size: 28px;
  font-family: "Merienda", cursive;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
  text-decoration: underline; }

.cuerpo .textoHistoria {
  color: #cee0d4;
  font-size: 25px;
  font-family: "Merienda", cursive;
  display: flex;
  align-content: center;
  padding-left: 40px;
  padding-bottom: 140px; }

.cuerpo .mapa {
  display: flex;
  justify-content: center; }
  .cuerpo .mapa #medidasMapa {
    height: 480px;
    width: 1000px;
    padding-bottom: 50px; }

.cuerpo .tituloMain1 {
  color: #cee0d4;
  font-size: 45px;
  font-family: "Merienda", cursive;
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.cuerpo .datosForm, .cuerpo .datosForm #boton {
  color: #cee0d4;
  font-size: 20px;
  font-family: "Merienda", cursive;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 30px; }
  .cuerpo .datosForm #boton {
    color: #b0e4c1;
    margin-left: 0px;
    margin-bottom: 60px; }

.cuerpo .conteinerImagenes {
  padding-left: 60px;
  padding-bottom: 20px; }
  .cuerpo .conteinerImagenes .tamanioImg {
    height: 250px;
    width: 250px; }

@media only screen and (max-width: 600px) {
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }
  header {
    display: flex;
    justify-content: space-between; }
    header .conteinerLogo #logoBeirut {
      width: 170px;
      height: 120px; }
    header .conteinerNav {
      padding-top: 30px; }
      header .conteinerNav li {
        display: inline;
        padding-left: 20px;
        padding-right: 20px; }
        header .conteinerNav li a {
          color: #cee0d4;
          font-size: 17px;
          font-family: "Merienda", cursive;
          text-decoration: none; }
        header .conteinerNav li a:hover {
          color: rgba(68, 158, 95, 0.89); }
  footer {
    width: 100%;
    background-image: linear-gradient(#750505, #bd5757, #3b0202); }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 13px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: center; }
        footer .container-footer .textoPiePagina #bandera {
          width: 50px;
          height: 35px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 25px;
          height: 28px; }
  .cuerpo .textoMain {
    color: #cee0d4;
    font-size: 24px;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 200px;
    padding-bottom: 90px; }
  .cuerpo .whatsapp {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 30px;
    padding-bottom: 55px; }
    .cuerpo .whatsapp #logoWhatsapp {
      height: 50px;
      width: 50px; }
  .cuerpo .tituloHistoria {
    color: #cee0d4;
    font-size: 21px;
    font-family: "Merienda", cursive;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    text-decoration: underline; }
  .cuerpo .textoHistoria {
    color: #cee0d4;
    font-size: 17px;
    font-family: "Merienda", cursive;
    display: flex;
    align-content: center;
    padding-left: 40px;
    padding-bottom: 60px; }
  .cuerpo .mapa {
    display: flex;
    justify-content: center; }
    .cuerpo .mapa #medidasMapa {
      height: 450px;
      width: 350px;
      margin-bottom: 25px; }
  .cuerpo .tituloMain1 {
    color: #cee0d4;
    font-size: 16px;
    font-family: "Merienda", cursive;
    padding-top: 40px;
    display: flex;
    justify-content: center; }
  .cuerpo .datosForm, .cuerpo .datosForm #boton {
    color: #cee0d4;
    font-size: 14px;
    font-family: "Merienda", cursive;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px; }
    .cuerpo .datosForm #boton {
      color: #b0e4c1;
      margin-left: 0px;
      margin-bottom: 110px; }
  .cuerpo .conteinerImagenes {
    padding-left: 25px;
    padding-bottom: 20px; }
    .cuerpo .conteinerImagenes .tamanioImg {
      height: 130px;
      width: 130px; } }

@media only screen and (min-width: 600px) {
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }
  header {
    display: flex;
    justify-content: space-between; }
    header .conteinerLogo #logoBeirut {
      width: 220px;
      height: 150px; }
    header .conteinerNav {
      padding-top: 40px; }
      header .conteinerNav li {
        display: inline;
        padding-left: 20px;
        padding-right: 20px; }
        header .conteinerNav li a {
          color: #cee0d4;
          font-size: 20px;
          font-family: "Merienda", cursive;
          text-decoration: none; }
        header .conteinerNav li a:hover {
          color: rgba(68, 158, 95, 0.89); }
  footer {
    width: 100%;
    background-image: linear-gradient(#750505, #bd5757, #3b0202); }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 17px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: center; }
        footer .container-footer .textoPiePagina #bandera {
          width: 75px;
          height: 45px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 25px;
          height: 30px; }
  .cuerpo .textoMain {
    color: #cee0d4;
    font-size: 40px;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px; }
  .cuerpo .whatsapp {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 60px;
    padding-bottom: 50px; }
    .cuerpo .whatsapp #logoWhatsapp {
      height: 50px;
      width: 50px; }
  .cuerpo .tituloHistoria {
    color: #cee0d4;
    font-size: 24px;
    font-family: "Merienda", cursive;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    text-decoration: underline; }
  .cuerpo .textoHistoria {
    color: #cee0d4;
    font-size: 20px;
    font-family: "Merienda", cursive;
    display: flex;
    align-content: center;
    padding-left: 40px;
    padding-bottom: 45px; }
  .cuerpo .mapa {
    display: flex;
    justify-content: center; }
    .cuerpo .mapa #medidasMapa {
      height: 440px;
      width: 550px; }
  .cuerpo .tituloMain1 {
    color: #cee0d4;
    font-size: 25px;
    font-family: "Merienda", cursive;
    padding-top: 20px;
    display: flex;
    justify-content: center; }
  .cuerpo .datosForm, .cuerpo .datosForm #boton {
    color: #cee0d4;
    font-size: 17px;
    font-family: "Merienda", cursive;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 30px; }
    .cuerpo .datosForm #boton {
      color: #b0e4c1;
      margin-left: 0px;
      margin-bottom: 65px; }
  .cuerpo .conteinerImagenes {
    padding-left: 5px;
    padding-bottom: 60px; }
    .cuerpo .conteinerImagenes .tamanioImg {
      padding-top: 10px;
      height: 125px;
      width: 125px; } }

@media only screen and (min-width: 768px) {
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }
  header {
    display: flex;
    justify-content: space-between; }
    header .conteinerLogo #logoBeirut {
      width: 230px;
      height: 150px; }
    header .conteinerNav {
      padding-top: 40px; }
      header .conteinerNav li a {
        color: #cee0d4;
        font-size: 20px;
        font-family: "Merienda", cursive;
        text-decoration: none; }
      header .conteinerNav li a:hover {
        color: rgba(68, 158, 95, 0.89); }
  footer {
    background-image: linear-gradient(#750505, #bd5757, #3b0202);
    width: 100%; }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 20px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: center; }
        footer .container-footer .textoPiePagina #bandera {
          width: 80px;
          height: 50px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 30px;
          height: 35px; }
  .cuerpo .textoMain {
    color: #cee0d4;
    font-size: 50px;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px; }
  .cuerpo .whatsapp {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 30px;
    padding-bottom: 60px; }
    .cuerpo .whatsapp #logoWhatsapp {
      height: 50px;
      width: 50px; }
  .cuerpo .tituloHistoria {
    color: #cee0d4;
    font-size: 26px;
    font-family: "Merienda", cursive;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
    text-decoration: underline; }
  .cuerpo .textoHistoria {
    color: #cee0d4;
    font-size: 22px;
    font-family: "Merienda", cursive;
    display: flex;
    align-content: center;
    padding-left: 40px;
    padding-bottom: 50px; }
  .cuerpo .mapa {
    display: flex;
    justify-content: center; }
    .cuerpo .mapa #medidasMapa {
      height: 430px;
      width: 650px;
      padding-bottom: 30px; }
  .cuerpo .tituloMain1 {
    color: #cee0d4;
    font-size: 32px;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center; }
  .cuerpo .datosForm, .cuerpo .datosForm #boton {
    color: #cee0d4;
    font-size: 17px;
    font-family: "Merienda", cursive;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 25px; }
    .cuerpo .datosForm #boton {
      color: #b0e4c1;
      margin-left: 0px; }
  .cuerpo .conteinerImagenes {
    padding-left: 20px;
    padding-bottom: 20px; }
    .cuerpo .conteinerImagenes .tamanioImg {
      height: 150px;
      width: 150px; } }

@media only screen and (min-width: 992px) {
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }
  header {
    display: flex;
    justify-content: space-between; }
    header .conteinerLogo #logoBeirut {
      width: 250px;
      height: 160px; }
    header .conteinerNav {
      padding-top: 40px; }
      header .conteinerNav li {
        display: inline;
        padding-left: 15px;
        padding-right: 15px; }
        header .conteinerNav li a {
          color: #cee0d4;
          font-size: 25px;
          font-family: "Merienda", cursive;
          text-decoration: none; }
        header .conteinerNav li a:hover {
          color: rgba(68, 158, 95, 0.89); }
  footer {
    background-image: linear-gradient(#750505, #bd5757, #3b0202); }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 20px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: center; }
        footer .container-footer .textoPiePagina #bandera {
          width: 80px;
          height: 50px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 30px;
          height: 35px; }
  .cuerpo .textoMain {
    color: #cee0d4;
    font-size: 60px;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 80px;
    padding-bottom: 75px; }
  .cuerpo .whatsapp {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 60px;
    padding-bottom: 50px; }
    .cuerpo .whatsapp #logoWhatsapp {
      height: 50px;
      width: 50px; }
  .cuerpo .tituloHistoria {
    color: #cee0d4;
    font-size: 26px;
    font-family: "Merienda", cursive;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    text-decoration: underline; }
  .cuerpo .textoHistoria {
    color: #cee0d4;
    font-size: 22px;
    font-family: "Merienda", cursive;
    display: flex;
    align-content: center;
    padding-left: 40px;
    padding-bottom: 90px; }
  .cuerpo .mapa {
    display: flex;
    justify-content: center; }
    .cuerpo .mapa #medidasMapa {
      height: 420px;
      width: 600px;
      padding-bottom: 30px; }
  .cuerpo .tituloMain1 {
    color: #cee0d4;
    font-size: 40px;
    font-family: "Merienda", cursive;
    margin-top: 10px;
    display: flex;
    justify-content: center; }
  .cuerpo .datosForm, .cuerpo .datosForm #boton {
    color: #cee0d4;
    font-size: 18px;
    font-family: "Merienda", cursive;
    margin-right: 280px;
    margin-left: 280px;
    margin-top: 15px; }
    .cuerpo .datosForm #boton {
      color: #b0e4c1;
      margin-left: 0px; }
  .cuerpo .conteinerImagenes {
    padding-left: 30px;
    padding-bottom: 20px; }
    .cuerpo .conteinerImagenes .tamanioImg {
      height: 190px;
      width: 190px; } }

@media only screen and (min-width: 1200px) {
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; }
  header {
    display: flex;
    justify-content: space-between; }
    header .conteinerLogo #logoBeirut {
      width: 270px;
      height: 180px; }
    header .conteinerNav {
      padding-top: 40px; }
      header .conteinerNav li {
        display: inline;
        padding-left: 20px;
        padding-right: 20px; }
        header .conteinerNav li a {
          color: #cee0d4;
          font-size: 32px;
          font-family: "Merienda", cursive;
          text-decoration: none; }
        header .conteinerNav li a:hover {
          color: rgba(68, 158, 95, 0.89); }
  footer {
    background-image: linear-gradient(#750505, #bd5757, #3b0202);
    width: 100%; }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 20px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: center; }
        footer .container-footer .textoPiePagina #bandera {
          width: 80px;
          height: 50px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 30px;
          height: 35px; }
  .cuerpo .textoMain {
    color: #cee0d4;
    font-size: 70px;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 100px;
    padding-bottom: 100px; }
  .cuerpo .whatsapp {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 59px;
    padding-bottom: 50px; }
    .cuerpo .whatsapp #logoWhatsapp {
      height: 50px;
      width: 50px; }
  .cuerpo .tituloHistoria {
    color: #cee0d4;
    font-size: 28px;
    font-family: "Merienda", cursive;
    padding-top: 30px;
    padding-left: 40px;
    padding-bottom: 30px;
    text-decoration: underline; }
  .cuerpo .textoHistoria {
    color: #cee0d4;
    font-size: 25px;
    font-family: "Merienda", cursive;
    display: flex;
    align-content: center;
    padding-left: 40px;
    padding-bottom: 135px; }
  .cuerpo .mapa {
    display: flex;
    justify-content: center; }
    .cuerpo .mapa #medidasMapa {
      height: 480px;
      width: 1000px;
      padding-bottom: 50px; }
  .cuerpo .tituloMain1 {
    color: #cee0d4;
    font-size: 45px;
    font-family: "Merienda", cursive;
    padding-top: 20px;
    display: flex;
    justify-content: center; }
  .cuerpo .datosForm, .cuerpo .datosForm #boton {
    color: #cee0d4;
    font-size: 20px;
    font-family: "Merienda", cursive;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 30px; }
    .cuerpo .datosForm #boton {
      color: #b0e4c1;
      margin-left: 0px;
      margin-bottom: 60px; }
  .cuerpo .conteinerImagenes {
    padding-left: 50px;
    padding-bottom: 20px; }
    .cuerpo .conteinerImagenes .tamanioImg {
      height: 250px;
      width: 250px; } }
