body {
  background-image: url("../img/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100px 530px 70px;
  grid-template-areas: "Menu Menu Menu" "Cuerpo Cuerpo Cuerpo" "Footer Footer Footer"; }

.conteinerLogo {
  grid-area: Menu;
  display: flex;
  justify-content: flex-start; }
  .conteinerLogo #logoBeirut {
    width: 270px;
    height: 180px; }

.conteinerNav {
  grid-area: Menu;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding-top: 60px; }
  .conteinerNav li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px; }
    .conteinerNav li a {
      color: #cee0d4;
      font-size: 32px;
      font-family: "Merienda", cursive;
      text-decoration: none; }
    .conteinerNav li a:hover {
      color: rgba(68, 158, 95, 0.89); }

footer {
  grid-area: Footer;
  background-image: linear-gradient(#750505, #bd5757, #3b0202); }
  footer .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .container-footer .textoPiePagina {
      color: #cee0d4;
      font-size: 20px;
      font-family: "Merienda", cursive;
      display: flex;
      justify-content: flex-start;
      align-content: flex-end;
      padding-top: 12px; }
      footer .container-footer .textoPiePagina #bandera {
        width: 80px;
        height: 50px; }
    footer .container-footer .logosPiePagina {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      footer .container-footer .logosPiePagina #logoRedes {
        width: 30px;
        height: 40px;
        padding-top: 10px; }

.cuerpo {
  grid-area: Cuerpo; }
  .cuerpo .textoMain {
    color: #cee0d4;
    font-size: 70px;
    font-family: "Merienda", cursive;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 180px; }
  .cuerpo .whatsapp {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin-top: 90px; }
    .cuerpo .whatsapp #logoWhatsapp {
      height: 50px;
      width: 50px; }
  .cuerpo .tituloHistoria {
    color: #cee0d4;
    font-size: 20px;
    font-family: "Merienda", cursive;
    margin-top: 120px;
    margin-left: 40px;
    text-decoration: underline; }
  .cuerpo .textoHistoria {
    color: #cee0d4;
    font-size: 20px;
    font-family: "Merienda", cursive;
    display: flex;
    align-content: center;
    margin-left: 40px; }
  .cuerpo .mapa {
    display: flex;
    justify-content: center;
    align-content: center; }
    .cuerpo .mapa #medidasMapa {
      height: 450px;
      width: 1000px;
      margin-top: 30px; }
  .cuerpo .tituloMain1 {
    color: #cee0d4;
    font-size: 45px;
    font-family: "Merienda", cursive;
    margin-top: 70px;
    display: flex;
    justify-content: center; }
  .cuerpo .datosForm, .cuerpo .datosForm #boton {
    color: #cee0d4;
    font-size: 20px;
    font-family: "Merienda", cursive;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 30px; }
    .cuerpo .datosForm #boton {
      color: #b0e4c1;
      margin-left: 0px; }
  .cuerpo .conteinerImagenes {
    display: flex;
    justify-content: space-around; }
    .cuerpo .conteinerImagenes .medidasFotos1 {
      height: 150px;
      width: 150px;
      margin-top: 100px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos2 {
      height: 150px;
      width: 150px;
      margin-top: 100px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos3 {
      height: 150px;
      width: 150px;
      margin-top: 100px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos4 {
      height: 150px;
      width: 150px;
      margin-top: 100px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos5 {
      height: 150px;
      width: 150px;
      margin-top: 100px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos6 {
      height: 150px;
      width: 150px;
      margin-top: 300px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos7 {
      height: 150px;
      width: 150px;
      margin-top: 300px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos8 {
      height: 150px;
      width: 150px;
      margin-top: 300px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos9 {
      height: 150px;
      width: 150px;
      margin-top: 300px;
      padding-left: 10px;
      padding-right: 10px; }
    .cuerpo .conteinerImagenes .medidasFotos10 {
      height: 150px;
      width: 150px;
      margin-top: 300px;
      padding-left: 10px;
      padding-right: 10px; }


/*RESPONSIVE*/
@media only screen and (min-width: 1200px){
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px 530px 70px;
    grid-template-areas: "Menu Menu Menu" "Cuerpo Cuerpo Cuerpo" "Footer Footer Footer"; }
  
  .conteinerLogo {
    grid-area: Menu;
    display: flex;
    justify-content: flex-start; }
    .conteinerLogo #logoBeirut {
      width: 270px;
      height: 180px; }
  
  .conteinerNav {
    grid-area: Menu;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 60px; }
    .conteinerNav li {
      display: inline;
      padding-left: 20px;
      padding-right: 20px; }
      .conteinerNav li a {
        color: #cee0d4;
        font-size: 32px;
        font-family: "Merienda", cursive;
        text-decoration: none; }
      .conteinerNav li a:hover {
        color: rgba(68, 158, 95, 0.89); }
  
  footer {
    grid-area: Footer;
    background-image: linear-gradient(#750505, #bd5757, #3b0202); }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 20px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: flex-end;
        padding-top: 12px; }
        footer .container-footer .textoPiePagina #bandera {
          width: 80px;
          height: 50px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 30px;
          height: 40px;
          padding-top: 10px; }
  
  .cuerpo {
    grid-area: Cuerpo; }
    .cuerpo .textoMain {
      color: #cee0d4;
      font-size: 70px;
      font-family: "Merienda", cursive;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 180px; }
    .cuerpo .whatsapp {
      display: flex;
      justify-content: flex-end;
      align-content: flex-end;
      margin-top: 90px; }
      .cuerpo .whatsapp #logoWhatsapp {
        height: 50px;
        width: 50px; }
    .cuerpo .tituloHistoria {
      color: #cee0d4;
      font-size: 20px;
      font-family: "Merienda", cursive;
      margin-top: 120px;
      margin-left: 40px;
      text-decoration: underline; }
    .cuerpo .textoHistoria {
      color: #cee0d4;
      font-size: 20px;
      font-family: "Merienda", cursive;
      display: flex;
      align-content: center;
      margin-left: 40px; }
    .cuerpo .mapa {
      display: flex;
      justify-content: center;
      align-content: center; }
      .cuerpo .mapa #medidasMapa {
        height: 450px;
        width: 1000px;
        margin-top: 30px; }
    .cuerpo .tituloMain1 {
      color: #cee0d4;
      font-size: 45px;
      font-family: "Merienda", cursive;
      margin-top: 70px;
      display: flex;
      justify-content: center; }
    .cuerpo .datosForm, .cuerpo .datosForm #boton {
      color: #cee0d4;
      font-size: 20px;
      font-family: "Merienda", cursive;
      margin-right: 400px;
      margin-left: 400px;
      margin-top: 30px; }
      .cuerpo .datosForm #boton {
        color: #b0e4c1;
        margin-left: 0px; }
    .cuerpo .conteinerImagenes {
      display: flex;
      justify-content: space-around; }
      .cuerpo .conteinerImagenes .medidasFotos1 {
        height: 150px;
        width: 150px;
        margin-top: 100px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos2 {
        height: 150px;
        width: 150px;
        margin-top: 100px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos3 {
        height: 150px;
        width: 150px;
        margin-top: 100px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos4 {
        height: 150px;
        width: 150px;
        margin-top: 100px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos5 {
        height: 150px;
        width: 150px;
        margin-top: 100px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos6 {
        height: 150px;
        width: 150px;
        margin-top: 300px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos7 {
        height: 150px;
        width: 150px;
        margin-top: 300px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos8 {
        height: 150px;
        width: 150px;
        margin-top: 300px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos9 {
        height: 150px;
        width: 150px;
        margin-top: 300px;
        padding-left: 10px;
        padding-right: 10px; }
      .cuerpo .conteinerImagenes .medidasFotos10 {
        height: 150px;
        width: 150px;
        margin-top: 300px;
        padding-left: 10px;
        padding-right: 10px; }
}

@media only screen and (min-width: 992px){
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px 450px 70px;
    grid-template-areas: "Menu Menu Menu" "Cuerpo Cuerpo Cuerpo" "Footer Footer Footer"; }
  
  .conteinerLogo {
    grid-area: Menu;
    display: flex;
    justify-content: flex-start; }
    .conteinerLogo #logoBeirut {
      width: 250px;
      height: 160px; }
  
  .conteinerNav {
    grid-area: Menu;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 60px; }
    .conteinerNav li {
      display: inline;
      padding-left: 10px;
      padding-right: 10px; }
      .conteinerNav li a {
        color: #cee0d4;
        font-size: 30px;
        font-family: "Merienda", cursive;
        text-decoration: none; }
      .conteinerNav li a:hover {
        color: rgba(68, 158, 95, 0.89); }
  
  footer {
    grid-area: Footer;
    background-image: linear-gradient(#750505, #bd5757, #3b0202); }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 20px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: flex-end;
        padding-top: 12px; }
        footer .container-footer .textoPiePagina #bandera {
          width: 80px;
          height: 50px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 30px;
          height: 40px;
          padding-top: 10px; }
  
  .cuerpo {
    grid-area: Cuerpo; }
    .cuerpo .textoMain {
      color: #cee0d4;
      font-size: 60px;
      font-family: "Merienda", cursive;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 150px; }
    .cuerpo .whatsapp {
      display: flex;
      justify-content: flex-end;
      align-content: flex-end;
      margin-top: 90px; }
      .cuerpo .whatsapp #logoWhatsapp {
        height: 50px;
        width: 50px; }
    .cuerpo .tituloHistoria {
      color: #cee0d4;
      font-size: 15px;
      font-family: "Merienda", cursive;
      margin-top: 100px;
      margin-left: 40px;
      text-decoration: underline; }
    .cuerpo .textoHistoria {
      color: #cee0d4;
      font-size: 20px;
      font-family: "Merienda", cursive;
      display: flex;
      align-content: center;
      margin-left: 40px; }
    .cuerpo .mapa {
      display: flex;
      justify-content: center;
      align-content: center; }
      .cuerpo .mapa #medidasMapa {
        height: 350px;
        width: 800px;
        margin-top: 60px;}
    .cuerpo .tituloMain1 {
      color: #cee0d4;
      font-size: 40px;
      font-family: "Merienda", cursive;
      margin-top: 50px;
      display: flex;
      justify-content: center; }
    .cuerpo .datosForm, .cuerpo .datosForm #boton {
      color: #cee0d4;
      font-size: 18px;
      font-family: "Merienda", cursive;
      margin-right: 300px;
      margin-left: 300px;
      margin-top: 20px; }
      .cuerpo .datosForm #boton {
        color: #b0e4c1;
        margin-left: 0px; }
    .cuerpo .conteinerImagenes {
      display: flex;
      justify-content: space-around; }
      .cuerpo .conteinerImagenes .medidasFotos1 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos2 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos3 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos4 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos5 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos6 {
        height:120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos7 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos8 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos9 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos10 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
}

@media only screen and (min-width: 768px){
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px 450px 70px;
    grid-template-areas: "Menu Menu Menu" "Cuerpo Cuerpo Cuerpo" "Footer Footer Footer"; }
  
  .conteinerLogo {
    grid-area: Menu;
    display: flex;
    justify-content: flex-start; }
    .conteinerLogo #logoBeirut {
      width: 230px;
      height: 150px; }
  
  .conteinerNav {
    grid-area: Menu;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 60px; }
    .conteinerNav li {
      display: inline;
      padding-left: 10px;
      padding-right: 10px; }
      .conteinerNav li a {
        color: #cee0d4;
        font-size: 18px;
        font-family: "Merienda", cursive;
        text-decoration: none; }
      .conteinerNav li a:hover {
        color: rgba(68, 158, 95, 0.89); }
  
  footer {
    grid-area: Footer;
    background-image: linear-gradient(#750505, #bd5757, #3b0202); }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #cee0d4;
        font-size: 20px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: flex-end;
        padding-top: 12px; }
        footer .container-footer .textoPiePagina #bandera {
          width: 80px;
          height: 50px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 30px;
          height: 40px;
          padding-top: 10px; }
  
  .cuerpo {
    grid-area: Cuerpo; }
    .cuerpo .textoMain {
      color: #cee0d4;
      font-size: 50px;
      font-family: "Merienda", cursive;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 150px; }
    .cuerpo .whatsapp {
      display: flex;
      justify-content: flex-end;
      align-content: flex-end;
      margin-top: 90px; }
      .cuerpo .whatsapp #logoWhatsapp {
        height: 50px;
        width: 50px; }
    .cuerpo .tituloHistoria {
      color: #cee0d4;
      font-size: 15px;
      font-family: "Merienda", cursive;
      margin-top: 70px;
      margin-left: 40px;
      text-decoration: underline; }
    .cuerpo .textoHistoria {
      color: #cee0d4;
      font-size: 19px;
      font-family: "Merienda", cursive;
      display: flex;
      align-content: center;
      margin-left: 40px; }
    .cuerpo .mapa {
      display: flex;
      justify-content: center;
      align-content: center; }
      .cuerpo .mapa #medidasMapa {
        height: 330px;
        width: 700px;
        margin-top: 80px;}
    .cuerpo .tituloMain1 {
      color: #cee0d4;
      font-size: 33px;
      font-family: "Merienda", cursive;
      margin-top: 50px;
      display: flex;
      justify-content: center; }
    .cuerpo .datosForm, .cuerpo .datosForm #boton {
      color: #cee0d4;
      font-size: 18px;
      font-family: "Merienda", cursive;
      margin-right: 200px;
      margin-left: 200px;
      margin-top: 20px; }
      .cuerpo .datosForm #boton {
        color: #b0e4c1;
        margin-left: 0px; }
    .cuerpo .conteinerImagenes {
      display: flex;
      justify-content: space-around; }
      .cuerpo .conteinerImagenes .medidasFotos1 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos2 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos3 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos4 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos5 {
        height: 120px;
        width: 120px;
        margin-top: 90px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos6 {
        height:120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos7 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos8 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos9 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
      .cuerpo .conteinerImagenes .medidasFotos10 {
        height: 120px;
        width: 120px;
        margin-top: 250px;
        padding-left: 5px;
        padding-right: 5px; }
}

@media only screen and (min-width: 600px){
  body {
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 180px 370px 70px;
    grid-template-areas: "Menu Menu Menu"
   "Cuerpo Cuerpo Cuerpo"
   "Footer Footer Footer"; }
  .conteinerLogo {
    grid-area: Menu;
    justify-self: center;
    align-self: start; }
    .conteinerLogo #logoBeirut {
      width: 220px; 
      height: 150px; }
  .conteinerNav {
    grid-area: Menu;
    align-self: end;
    justify-self: center;
    padding-top: 100px; }
    .conteinerNav li {
      display: inline;
      padding-left: 20px;
      padding-right: 20px; }
      .conteinerNav li a {
        color: #CEE0D4;
        font-size: 16px;
        font-family: "Merienda", cursive;
        text-decoration: none; }
      .conteinerNav li a:hover {
        color: rgba(68, 158, 95, 0.89); }
  footer {
    grid-area: Footer;
    background-image: linear-gradient(#750505, #BD5757, #3B0202); }
    footer .container-footer {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      footer .container-footer .textoPiePagina {
        color: #CEE0D4;
        font-size: 18px;
        font-family: "Merienda", cursive;
        display: flex;
        justify-content: flex-start;
        align-content: flex-end;
        padding-top: 12px; }
        footer .container-footer .textoPiePagina #bandera {
          width: 80px; 
          height: 50px; }
      footer .container-footer .logosPiePagina {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        footer .container-footer .logosPiePagina #logoRedes {
          width: 30px;
          height: 30px;
          padding-top: 10px; }
  .cuerpo {
    grid-area: Cuerpo; }
    .cuerpo .textoMain {
      color: #CEE0D4;
      font-size: 35px;
      font-family: "Merienda", cursive;
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 90px; }
    .cuerpo .whatsapp {
      display: flex;
      justify-content: flex-end;
      align-content: flex-end;
      margin-top: 70px; }
      .cuerpo .whatsapp #logoWhatsapp {
        height: 50px;
        width: 50px; }
    .cuerpo .tituloHistoria {
      color: #CEE0D4;
      font-size: 14px;
      font-family: "Merienda", cursive;
      margin-top: 0px;
      margin-left: 30px;
      text-decoration: underline; }
    .cuerpo .textoHistoria {
      color: #CEE0D4;
      font-size: 16px;
      font-family: "Merienda", cursive;
      display: flex;
      align-content: center;
      margin-left: 30px; }
    .cuerpo .mapa {
      display: flex;
      justify-content: center;
      align-content: center; }
      .cuerpo .mapa #medidasMapa {
        height: 350px;
        width: 570px;
        margin-top: 0px; }
    .cuerpo .tituloMain1 {
      color: #CEE0D4;
      font-size: 25px;
      font-family: "Merienda", cursive;
      margin-top: 0px;
      display: flex;
      justify-content: center; }
    .cuerpo .datosForm, .cuerpo .datosForm #boton {
      color: #CEE0D4;
      font-size: 13px;
      font-family: "Merienda", cursive;
      margin-right: 100px;
      margin-left: 100px;
      margin-top: 30px; }
      .cuerpo .datosForm #boton {
        color: #B0E4C1;
        margin-left: 0px; }
    .cuerpo .conteinerImagenes {
      padding-top: 100px;
      display: flex;
      justify-content: space-around; }
}