body {
  background-image: url("../img/fondo1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }

header {
  display: flex;
  justify-content: space-between; }
  header .conteinerLogo #logoBeirut {
    width: 270px;
    height: 180px; }
  header .conteinerNav {
    padding-top: 40px; }
    header .conteinerNav li {
      display: inline;
      padding-left: 20px;
      padding-right: 20px; }
      header .conteinerNav li a {
        color: #cee0d4;
        font-size: 32px;
        font-family: "Merienda", cursive;
        text-decoration: none; }
      header .conteinerNav li a:hover {
        color: rgba(68, 158, 95, 0.89); }

footer {
  background-image: linear-gradient(#750505, #bd5757, #3b0202); }
  footer .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    footer .container-footer .textoPiePagina {
      color: #cee0d4;
      font-size: 20px;
      font-family: "Merienda", cursive;
      display: flex;
      justify-content: flex-start;
      align-content: center; }
      footer .container-footer .textoPiePagina #bandera {
        width: 80px;
        height: 50px; }
    footer .container-footer .logosPiePagina {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      footer .container-footer .logosPiePagina #logoRedes {
        width: 30px;
        height: 35px; }

.cuerpo .textoMain {
  color: #cee0d4;
  font-size: 70px;
  font-family: "Merienda", cursive;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
  padding-bottom: 100px; }

.cuerpo .whatsapp {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding-top: 60px;
  padding-bottom: 50px; }
  .cuerpo .whatsapp #logoWhatsapp {
    height: 50px;
    width: 50px; }

.cuerpo .tituloHistoria {
  color: #cee0d4;
  font-size: 28px;
  font-family: "Merienda", cursive;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 30px;
  text-decoration: underline; }

.cuerpo .textoHistoria {
  color: #cee0d4;
  font-size: 25px;
  font-family: "Merienda", cursive;
  display: flex;
  align-content: center;
  padding-left: 40px;
  padding-bottom: 140px; }

.cuerpo .mapa {
  display: flex;
  justify-content: center; }
  .cuerpo .mapa #medidasMapa {
    height: 480px;
    width: 1000px;
    padding-bottom: 50px; }

.cuerpo .tituloMain1 {
  color: #cee0d4;
  font-size: 45px;
  font-family: "Merienda", cursive;
  padding-top: 20px;
  display: flex;
  justify-content: center; }

.cuerpo .datosForm, .cuerpo .datosForm #boton {
  color: #cee0d4;
  font-size: 20px;
  font-family: "Merienda", cursive;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 30px; }
  .cuerpo .datosForm #boton {
    color: #b0e4c1;
    margin-left: 0px;
    margin-bottom: 60px; }

.cuerpo .conteinerImagenes {
  display: flex;
  justify-content: space-around; }
