@import "_variables.scss";

@mixin body($tamanioLetra, $colorTexto){
    color: $colorTexto;
    font-size: $tamanioLetra;
    font-family: $tipoLetras;
}

body{
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;    
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100px 530px 70px;
    grid-template-areas: "Menu Menu Menu"
                         "Cuerpo Cuerpo Cuerpo"
                         "Footer Footer Footer";
}

//HEADER

.conteinerLogo{
    grid-area: Menu;
    display: flex;
    justify-content: flex-start;
    #logoBeirut {
        width: 270px; 
        height: 180px;
    }
}

.conteinerNav{
    grid-area: Menu;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-top: 60px;
    li{
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
        a{
            @include body (32px, $colorLetras);
            text-decoration: none;
        }
        
        a:hover{
            color: $colorHover;
        }
    }
}

//FOOTER

footer{
    grid-area: Footer;
    background-image: linear-gradient(rgb(117, 5, 5), rgb(189, 87, 87), rgb(59, 2, 2));
    .container-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .textoPiePagina{
            @include body (20px, $colorLetras);
            display: flex;
            justify-content: flex-start;
            align-content: flex-end;
            padding-top: 12px;
            #bandera{
                width: 80px; 
                height: 50px;
            }
        }
        .logosPiePagina{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            #logoRedes{
                width: 30px; 
                height: 40px;
                padding-top: 10px;
            }
        }
    }
}

//CUERPO

.cuerpo{
    grid-area: Cuerpo;
    .textoMain{
        @include body (70px, $colorLetras);
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 180px;
    }
    .whatsapp{
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        margin-top: 90px;
        #logoWhatsapp{
            height: 50px;
            width: 50px;
        }
    }
    .tituloHistoria{
        @include body (20px, $colorLetras);
        margin-top: 120px;
        margin-left: 40px;
        text-decoration: underline;
    }
    .textoHistoria{
        @include body (20px, $colorLetras);
        display: flex;
        align-content: center;
        margin-left: 40px;
    }
    .mapa{
        display: flex;
        justify-content: center;
        align-content: center;
        #medidasMapa{
            height: 450px;
            width: 1000px;
            margin-top: 30px;
        }
    }
    .tituloMain1{
        @include body (45px, $colorLetras);
        margin-top: 70px;
        display: flex;
        justify-content: center;
    }
    .datosForm{
        @include body (20px, $colorLetras);
        margin-right: 400px;
        margin-left: 400px;
        margin-top: 30px;
        #boton{
            @extend .datosForm;
            color: rgb(176, 228, 193);
            margin-left: 0px;
        }
    }
    .conteinerImagenes{
        padding-top: 100px;
        display: flex;
        justify-content: space-around;;
    }
}















