@import "_variables.scss";

@mixin body($tamanioLetra, $colorTexto){
    color: $colorTexto;
    font-size: $tamanioLetra;
    font-family: $tipoLetras;
}

body{
    background-image: url("../img/fondo1.jpg");
    background-repeat: no-repeat;
    background-position: center center;    
    background-attachment: fixed;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    .conteinerLogo{
        #logoBeirut {
            width: 270px; 
            height: 180px;
        }
    }
    .conteinerNav{
        padding-top: 40px;
        li{
            display: inline;
            padding-left: 20px;
            padding-right: 20px;
            a{
                @include body (32px, $colorLetras);
                text-decoration: none;
            }
            a:hover{
                color: $colorHover;
            }
        }
    }
}


footer{
    background-image: linear-gradient(rgb(117, 5, 5), rgb(189, 87, 87), rgb(59, 2, 2));
    .container-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .textoPiePagina{
            @include body (20px, $colorLetras);
            display: flex;
            justify-content: flex-start;
            align-content: center;
            #bandera{
                width: 80px; 
                height: 50px;
            }
        }
        .logosPiePagina{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            #logoRedes{
                width: 30px; 
                height: 35px;
            }
        }
    }
}

//CUERPO

.cuerpo{
    .textoMain{
        @include body (70px, $colorLetras);
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .whatsapp{
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        padding-top: 60px;
        padding-bottom: 50px;
        #logoWhatsapp{
            height: 50px;
            width: 50px;
        }
    }
    .tituloHistoria{
        @include body (28px, $colorLetras);
        padding-top: 30px;
        padding-left: 40px;
        padding-bottom: 30px;
        text-decoration: underline;
    }
    .textoHistoria{
        @include body (25px, $colorLetras);
        display: flex;
        align-content: center;
        padding-left: 40px;
        padding-bottom: 140px;
    }
    .mapa{
        display: flex;
        justify-content: center;
        #medidasMapa{
            height: 480px;
            width: 1000px;
            padding-bottom: 50px;
        }
    }
    .tituloMain1{
        @include body (45px, $colorLetras);
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }
    .datosForm{
        @include body (20px, $colorLetras);
        margin-right: 400px;
        margin-left: 400px;
        margin-top: 30px;
        #boton{
            @extend .datosForm;
            color: rgb(176, 228, 193);
            margin-left: 0px;
            margin-bottom: 60px;
        }
    }
    .conteinerImagenes{
        padding-left: 60px;
        padding-bottom: 20px;
        .tamanioImg{
            height: 250px;
            width: 250px;
        }
    }
    
}















